.Layout {
    /* background: url('../../assets/images/space-back.jpg'); */
    height: 100vh;
    width: 100vw;
    background-size: cover;
    -webkit-background-size: cover;

    color: white;

    justify-content: space-between;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: rgb(39, 65, 117);
    color: rgb(186, 190, 197)
}