.Layout {
    background: url('../../assets/images/space-back.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;

    color: white;

    justify-content: space-between;
    display: flex;
    flex-flow: column;
}