.Message {
    height: 100px;
    width: 400px;

    border: 1px solid #ffffff71;
    transition: border .1s linear;

    font-size: 16px;
    position: relative;

    margin: 10px 0;    

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #000000d5;
}

.Message:hover {
    border: 1px solid #ffffff;
}

.CloseButton {
    cursor: pointer;
    color: red;
    font-size: 36px;
    font-weight: 700;

    position: absolute;
    top: -8px;
    right:  5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.Text {
    -ms-word-break: keep-all;
    word-break: keep-all;
    margin: 0 auto;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow-x: auto;
    font-size: 18px;
}

.Text::-webkit-scrollbar {
    display: none;
}

@media (max-width:400px) {
    .Message {
        width: 300px;
    }
    .Text {
        width: 250px;
    }
}