.Message {
    height: 100px;
    width: 300px;

    border: 1px solid white;

    font-size: 20px;
    position: relative;
}

.CloseButton {
    cursor: pointer;
    color: red;
    font-size: 36px;
    font-weight: 700;

    position: absolute;
    top: 0;
    right:  0;
}

.Text {
    
}