.Info {
    font-size: 28px;
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: space-evenly;
}

.Rules, .Stats, .Contacts {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Rule, .Loading {
    margin: 0 auto;
}

.Stat {
    margin: 0 auto;
    display: flex;
}

.Count {
    padding: 0 10px;
}

section {
    border: 1px solid #000;
    background-color: #4645453a;
    width: 80%;
    height: 30%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.Container {
    height: 80%;
    width: 100%;
}

.ContactInfo {
    margin: 0 auto;
}

a {
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;

    position: relative;
}

a:hover {
    color: aquamarine;
}

a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    
    opacity: 0;
    transition: opacity .1s linear;

    position: absolute;
    top: 100%;
    left: 0;
}

a:hover::after {
    opacity: 1;
}
