.Info {
    font-size: 28px;
    display: flex;
    flex-direction: column;

    margin: auto 0;
    justify-content: space-evenly;
    width: 100%;
}

.Outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.Rules, .Stats, .Contacts, .Creators {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Rule, .Loading {
    margin: 0 auto;
}

.Stat {
    margin: 0 auto;
    display: flex;
}

.Count {
    padding: 0 10px;
}

.Info section {
    border: 1px solid #000;
    background-color: #4645453a;
    width: 60%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Title {
    width: 100%;
    padding: 0 0 5px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.Container {
    padding: 5px 0;
    width: 100%;
}

.ContactInfo {
    margin: 0 auto;
}

.Contacts a {
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s linear;
    cursor: pointer;

    position: relative;
}

.Contacts a:hover {
    color: aquamarine;
}

.Contacts a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    
    opacity: 0;
    transition: opacity .1s linear;

    position: absolute;
    top: 100%;
    left: 0;
}

.Contacts a:hover::after {
    opacity: 1;
}

.NeLyublyuVerstku {
    margin: 0 auto;
    display: flex;
}

.Position {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Position .Self {
    font-weight: 700;
    font-size: 28px;
    padding: 0 20px;
}

.PtushkinFace {
    background: url("../../assets/images/Ptushkin.png");
    width: 64px;
    height: 64px;
    background-size: cover;
    -webkit-background-size: cover;
    position: relative;
    left: 54px;

    opacity: 0;
    transition: opacity .1s linear;
}

.Position:hover .PtushkinFace {
    opacity: 1;
}

@media (max-width:1920px) {
    .Info section {
        width: 80%;
    }
}

@media (max-width:1200px) {
    .Outer {
        width: auto;
    }

    .Info section {
        width: 100%;
    }
}

@media (max-width:992px) {
    .Rule {
        border-bottom: 1px solid #6d6d6def;
    }
    
    .Rule:last-child {
        border-bottom: none;
    }
}