.Container {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Input {
    z-index: 2;
    height: 150px;
    width: 300px;
    background-color: #7f92ff0a;
    border: 1px solid #bbbbbb;
    color: #fff;
    font-weight: 400;
}

.Header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #bbbbbb;

    display: flex;
    justify-content: center;

    text-transform: uppercase;
}

.Label {
    margin: auto 0;
    font-size: 24px;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 110px;
    width: 280px;

    margin: 0 auto;
}

.Buttons {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-between;
    width: 100%;
}

.Button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    font-size: 24px;

    transition: background-color .1s linear;
}

.ButtonLabel {
    margin-top: 2px;
}

.InputInput {
    font-size: 18px;
    height: 40px;
    width: 100%;
    background-color: #00007900;
    color: #fff;
}

.Invalid {
    background-color: #7900009c;
}

.Negative:hover {
    background-color: #8500003a;
}

.Positive:hover {
    background-color: #0000b633;
}

.Disable {
    cursor: not-allowed;
}