.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo a {
    text-decoration: none;
    color: #fff;

    transition: color .1s linear;
}

.Title {
    font-weight: 700;
    font-family: TradesmithStamp;
    font-size: 72px;
}

.Subtitle {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    color: #fff;
    font-style: italic;

    opacity: 0;
    transition: opacity .1s linear;
}

.Face{
    background: url("../../assets/images/face.png");
    width: 32px;
    height: 32px;
    background-size: cover;
    -webkit-background-size: cover;

    opacity: 0;
    transition: opacity .1s linear;
}

.Logo:hover .Face,
.Logo:hover .Subtitle {
    opacity: 1;
}

@media (max-width:1200px) {
    .Title {
        font-size:48px;
    }
}