.ContextMenu {
    position: absolute;
    z-index: 2;

    border: 1px solid #fff;
}

.Option {
    cursor: pointer;
    margin: 3px;
    text-transform: uppercase;
    transition: background-color .1s linear;
    transition: color .1s linear;
}

.Option:hover {
    background-color: aquamarine;
    color: #000;
}

.Option:active {
    background-color: #fff;
}
