.Dir {
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.Dir img {
    height: 64px;
    width: 64px;
}

.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.DirName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.DirName div{
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* TODO: Add ContextMenu Styling */
/* TODO: Add hover styling */
/* TODO: Add diference between 1 and 2 clicks */