.Dir {
    width: 128px;
    height: 128px;
}

.Dir img {
    height: 64px;
    width: 64px;
    cursor: pointer;
    transition: opacity .1s linear;
}

.Dir img:hover{
    opacity: .5;
}

.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.DirName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.DirName div{
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* TODO: Add ContextMenu Styling */