.Footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.Label {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Label a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    position: relative;
}

.Label a:hover{
    color: aquamarine;
}

.Label a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    
    opacity: 0;
    transition: opacity .1s linear;

    position: absolute;
    top: 100%;
    left: 0;
}
.Label a:hover::after {
    opacity: 1;
}

@media (max-width:600px) {
    .Footer {
        flex-direction: column;
    }

    .Label {
        margin: 5px 0;
    }
}