.Auth {
    display: flex;
}

.SubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignIn, .SignOut {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 28px;

    transition: color .1s linear;
    position: relative;
    color: #babec5;
}

.SignIn:hover, .SignOut:hover {
    color: aquamarine;
}

.SignIn::after, .SignOut::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: aquamarine;
    
    opacity: 0;
    transition: opacity .1s linear;

    position: absolute;
    top: 100%;
    left: 0;
}

.SignIn:hover::after, .SignOut:hover::after {
    opacity: 1;
}

.Photo img {
    height: 64px;
    width: 64px;
    background-size: cover;
    -webkit-background-size: cover;
    border: 1px solid #fff;
    border-radius: 32px;
    cursor: url('../../assets/images/heart.png');
}

.Photo {
    margin: 0 10px;
}

.Photo:hover .Name {
    opacity: 1;
}

.Highlight {
    -webkit-animation: scale-up-center 1s ease-in-out infinite alternate both;
    animation: scale-up-center 1s ease-in-out infinite alternate both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.75);
                transform: scale(0.75);
    }
    100% {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
    }
}

@media (max-width:600px) {
    .Auth {
        position: relative;
        left: 8px;
    }

    .Photo {
        position: relative;
        top: 3px;
    }
    
    .Photo img {
        height: 32px;
        width: 32px;
        border-radius: 16px;
    }

    .SignIn, .SignOut {
        font-size: 24px;
    }
}