.NavigationBar {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 80px;

    font-family: Montserrat;
}

.NavigationBar nav {
    text-transform: uppercase;
    display: flex;
}

@media (max-width:600px) {
    .NavigationBar{
        max-width:none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .NavigationBar nav {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .NavigationBar {
        padding: 10px 0;
    }
}

@media (max-width:1920px) {
    .NavigationBar {
        padding-top: 40px;
    }
}

@media (max-width:1200px) {
    .NavigationBar {
        width: 95%;
    }
}

@media (max-width:992px) {
    .NavigationBar {
        flex-direction: column;
        padding-top: 10px;
    }

    .NavigationBar .SubContainer {
        display: flex;
        width: 80%;
        justify-content:space-between;
    }

    .NavigationBar nav {
        width: 80%;
        justify-content: space-between;
    }
}