.NavigationBar {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.NavigationBar .Container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavigationBar nav {
    text-transform: uppercase;
}