.FileBrowser {
    width: 100%;
    height: 100%;
}

.PathRow {
    width: 100%;
}

.Items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto; 

    position: relative;
}

.Items::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.Items::-webkit-scrollbar-track {
    opacity: 0;
}
   
  /* Handle */
.Items::-webkit-scrollbar-thumb {
    background: #0000007c; 
}
  
  /* Handle on hover */
.Items::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}

.SpinnerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}