.FileBrowser {
    width: 100%;
    height: 100%;
}

.PathRow {
    width: 100%;

    display: flex;
    overflow-x: auto; 
    position: relative;
    height: 4%;
}

.Items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 96%;
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;
}

.SpinnerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1920px) {
    .PathRow {
        height: 6%;
    }
    
    .Items {
        height: 94%;
    }
}

@media (max-width: 1200px) {
    .PathRow {
        height: 8%;
    }
    
    .Items {
        height: 92%;
    }
}

@media (max-width: 992px) {
    .PathRow {
        height: 10%;
    }
    
    .Items {
        height: 90%;
    }
}

@media (max-width: 768px) {
    .PathRow {
        height: 12%;
    }
    
    .Items {
        height: 88%;
    }
}

@media (max-width: 600px) {
    .PathRow {
        height: 14%;
    }
    
    .Items {
        height: 86%;
    }
}